# Laravel
/vendor
/node_modules
/.env
.phpunit.result.cache
.php-cs-fixer.cache
Homestead.yaml
Homestead.json
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php
.env.backup

# Laravel Sail / Docker
docker-compose.override.yml
.env.sail
.sail

# Laravel Telescope (если используешь)
storage/telescope

# IDEs
.idea
*.sublime-project
*.sublime-workspace
.vscode

# OS
.DS_Store
Thumbs.db
